# Ignore target (compiled files)
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore build files
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Boot related ignores
HELP.md
.mvn/
.mvn/wrapper/maven-wrapper.jar
spring.log
logs/
*.log
*.pid
*.gz

# Ignore sensitive configuration files
.env
*.env
application.properties
application.yml
config/
secrets/

# IDE-specific ignores

## IntelliJ IDEA ##
.idea/
*.iws
*.iml
*.ipr

## Eclipse & STS ##
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

## NetBeans ##
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code ##
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db
